# Database (TypeORM)
DB_HOST="localhost"
DB_USERNAME="readfort"
DB_PASSWORD="secret"
DB_DATABASE="readfort_development"
DB_PORT=5432

# Database
TEST_DATABASE_URL=
DATABASE_URL=

# Next Auth
AUTH_URL=
AUTH_SECRET=
ADMIN_EMAIL=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

# Google OAuth
AUTH_GOOGLE_ID='SECRET'
AUTH_GOOGLE_SECRET='SECRET'
DRIVER_DISK='local' ## local or s3

## AWS S3
AWS_ACCESS_KEY=
AWS_ACCESS_SECRET=
AWS_BUCKET='your_bucket'
AWS_REGION='YOUR_AWS_REGION'

